Node-red flows.txt
[{"id":"65fbb939.159638","type":"tab","label":"Motors power consumption","disabled":false,"info":""},{"id":"a71ca9a7.affbc8","type":"tab","label":"Power Consumption and Operator Workflow","disabled":false,"info":""},{"id":"adc2b126.6168f","type":"tab","label":"Product Data","disabled":false,"info":""},{"id":"cfb184ae.09f778","type":"mqtt-broker","name":"","broker":"192.168.1.123","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dcd68fff.8dc64","type":"mqtt-broker","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"14048a07.f13df6","type":"mqtt in","z":"65fbb939.159638","name":"","topic":"OP60/SOP630/Power","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":300,"y":180,"wires":[["26db0bc1.e48124"]]},{"id":"d4171857.79a4c8","type":"mqtt in","z":"65fbb939.159638","name":"","topic":"OP60/SOP620/Power","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":300,"y":120,"wires":[["415a733c.51f33c"]]},{"id":"c135d91.84ff628","type":"mqtt out","z":"65fbb939.159638","name":"","topic":"channels/1374245/publish/L8B81KSJOSES4WYR","qos":"0","retain":"false","broker":"dcd68fff.8dc64","x":1090,"y":260,"wires":[]},{"id":"4953326e.c31bfc","type":"mqtt in","z":"65fbb939.159638","name":"","topic":"OP60/SOP610/Power","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":300,"y":60,"wires":[["fadbd4aa.2269a8"]]},{"id":"fadbd4aa.2269a8","type":"function","z":"65fbb939.159638","name":"function conveyor 1","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"A\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":60,"wires":[["1450f76a.051da9"]]},{"id":"415a733c.51f33c","type":"function","z":"65fbb939.159638","name":"function conveyor 2","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"B\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":120,"wires":[["1450f76a.051da9"]]},{"id":"26db0bc1.e48124","type":"function","z":"65fbb939.159638","name":"function conveyor 3","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"C\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":180,"wires":[["1450f76a.051da9"]]},{"id":"1450f76a.051da9","type":"function","z":"65fbb939.159638","name":"Write all data","func":"// Create a Date object from the payload\nvar newData = msg.payload;\nif (newData.charAt(0) == \"A\"){\n    data1 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"B\"){\n    data2 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"C\"){\n    data3 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"D\"){\n    data4 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"E\"){\n    data5 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"F\"){\n    data6 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"G\"){\n    data7 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"H\"){\n    data8 = newData.substr(1, newData.length-1);\n}\nvar data = [data1,data2,data3,data4,data5,data6,data7,data8];\n// Change the payload to be a formatted Date string\nmsg.payload = \"\";\nfor (var i = 0; i < data.length; i++) {\n  msg.payload = msg.payload+\"field\"+(i+1).toString()+\"=\"+data[i]+\"&\";\n}\nmsg.payload = msg.payload + \"status=MQTTPUBLISH\";\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar data1;\nvar data2;\nvar data3;\nvar data4;\nvar data5;\nvar data6;\nvar data7;\nvar data8;","finalize":"","x":790,"y":260,"wires":[["c135d91.84ff628"]]},{"id":"bcf31199.07397","type":"mqtt in","z":"65fbb939.159638","name":"","topic":"OP60/SOP640/Power","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":300,"y":240,"wires":[["110c04cd.bffb8b"]]},{"id":"a24dfa30.97f068","type":"mqtt in","z":"65fbb939.159638","name":"","topic":"OP60/SOP650/Power","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":300,"y":300,"wires":[["c47aff7f.fe60a"]]},{"id":"52a2d4fa.30336c","type":"mqtt in","z":"65fbb939.159638","name":"","topic":"OP60/SOP660/Power","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":300,"y":360,"wires":[["9b55ee9c.aba95"]]},{"id":"b4a25288.e565f","type":"mqtt in","z":"65fbb939.159638","name":"","topic":"OP60/SOP670/Power","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":300,"y":420,"wires":[["fe8b8543.4aea98"]]},{"id":"6886c71d.a3ddb8","type":"mqtt in","z":"65fbb939.159638","name":"","topic":"OP60/SOP680/Power","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":300,"y":480,"wires":[["1f855dfb.9708e2"]]},{"id":"110c04cd.bffb8b","type":"function","z":"65fbb939.159638","name":"function conveyor 4","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"D\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":240,"wires":[["1450f76a.051da9"]]},{"id":"c47aff7f.fe60a","type":"function","z":"65fbb939.159638","name":"function conveyor 5","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"E\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["1450f76a.051da9"]]},{"id":"9b55ee9c.aba95","type":"function","z":"65fbb939.159638","name":"function conveyor 6","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"F\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":360,"wires":[["1450f76a.051da9"]]},{"id":"fe8b8543.4aea98","type":"function","z":"65fbb939.159638","name":"function conveyor 7","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"G\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":420,"wires":[["1450f76a.051da9"]]},{"id":"1f855dfb.9708e2","type":"function","z":"65fbb939.159638","name":"function conveyor 8","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"H\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":480,"wires":[["1450f76a.051da9"]]},{"id":"435be961.1a1f98","type":"mqtt out","z":"a71ca9a7.affbc8","name":"","topic":"channels/1383581/publish/XX5RK7M196YTR3ZQ","qos":"0","retain":"false","broker":"dcd68fff.8dc64","x":890,"y":100,"wires":[]},{"id":"71befa76.5ec6e4","type":"mqtt in","z":"a71ca9a7.affbc8","name":"","topic":"OP60/ThreePhasePower","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":150,"y":100,"wires":[["dac478cc.5ea968"]]},{"id":"8ed3b1e2.e1185","type":"mqtt in","z":"a71ca9a7.affbc8","name":"","topic":"OP60/SOP640/Operator","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":150,"y":220,"wires":[["9924f06e.261bf"]]},{"id":"dac478cc.5ea968","type":"function","z":"a71ca9a7.affbc8","name":"function general power","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"A\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":100,"wires":[["2cb12e6e.993e72"]]},{"id":"9924f06e.261bf","type":"function","z":"a71ca9a7.affbc8","name":"function operator","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"C\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["2cb12e6e.993e72"]]},{"id":"2cb12e6e.993e72","type":"function","z":"a71ca9a7.affbc8","name":"Write all data","func":"var newData = msg.payload;\nif (newData.charAt(0) == \"A\"){\n    data1 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"B\"){\n    data2 = newData.substr(1, newData.length-1);\n} else if (newData.charAt(0) == \"C\"){\n    data3 = newData.substr(1, newData.length-1);\n}\nif (data3 == \"TRUE\"){\n    send = 1;\n} else{\n    send = 0;\n}\nvar power = (parseFloat(data1)+parseFloat(data2)).toString();\n\nvar data = [data1,send];\nmsg.payload = \"\";\nfor (var i = 0; i < data.length; i++) {\n  msg.payload = msg.payload+\"field\"+(i+1).toString()+\"=\"+data[i]+\"&\";\n}\nmsg.payload = msg.payload + \"status=MQTTPUBLISH\";\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar data1;\nvar data2;\nvar data3;","finalize":"","x":610,"y":100,"wires":[["435be961.1a1f98"]]},{"id":"cfd80f54.63e6f","type":"mqtt in","z":"a71ca9a7.affbc8","name":"","topic":"OP60/OnePhasePower","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":140,"y":160,"wires":[["f6678668.2edcc8"]]},{"id":"f6678668.2edcc8","type":"function","z":"a71ca9a7.affbc8","name":"function general power","func":"// Create a Date object from the payload\nvar date = msg.payload;\n// Change the payload to be a formatted Date string\nmsg.payload = \"B\"+date;\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":160,"wires":[["2cb12e6e.993e72"]]},{"id":"6326db51.a44cf4","type":"mqtt out","z":"adc2b126.6168f","name":"","topic":"channels/1393723/publish/0HK65UQHD33SOS74","qos":"0","retain":"false","broker":"dcd68fff.8dc64","x":670,"y":120,"wires":[]},{"id":"680fecb0.32e5d4","type":"mqtt in","z":"adc2b126.6168f","name":"","topic":"OP60/ThreePhasePower","qos":"0","datatype":"auto","broker":"cfb184ae.09f778","x":150,"y":120,"wires":[["950026dd.2e8328"]]},{"id":"950026dd.2e8328","type":"function","z":"adc2b126.6168f","name":"Write all data","func":"var data = msg.payload;\nfor (var j = 0; j < data.length; j++) {\n  if (data.charAt(j) == '-'){\n      char = j;\n  }\n} \n\nproductPre = data.substr(char+1, data.length-1);\ncyclePre = data.substr(2, char-2);\nvar noMin = 1;\nfor (var m = 0; m < cyclePre.length; m++) {\n  if (cyclePre.charAt(m) == 'm'){\n      var min = m;\n      noMin = 0;\n  }\n}\nif (noMin == 0){\n    cycle = (parseInt(cyclePre.substr(0,min))*60 + parseInt(cyclePre.substr(min+1,cyclePre.length-3))).toString();\n} else{\n    cycle = (cyclePre.substr(0,cyclePre.length-1));\n}\n\nif (productPre == \"MB16\"){\n    product = 1;\n} else if (productPre == \"MB16T\"){\n    product = 2;\n} else if (productPre == \"MB20\"){\n    product = 3;\n} else if (productPre == \"MB24\"){\n    product = 4;\n}\n\nvar send = [product, cycle];\nmsg.payload = \"\";\nfor (var i = 0; i < send.length; i++) {\n  msg.payload = msg.payload+\"field\"+(i+1).toString()+\"=\"+send[i]+\"&\";\n}\nmsg.payload = msg.payload + \"status=MQTTPUBLISH\";\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar data;","finalize":"","x":370,"y":120,"wires":[["6326db51.a44cf4"]]}]